/build*
/debian/tmp/
/debian/*.log
/debian/*.substvars
/debian/*debhelper*
/debian/files
/debian/gp4par/
/debian/gp4par-dbg/
/debian/gp4par-doc/
/obj-*/

# Because these are library crates, do not check in their Cargo.lock files
/src/xc2bit/Cargo.lock
